/**************************\
  Basic Modal Styles
\**************************/

#scrap-stats-popup {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    z-index: 100000;
    position: relative;
}

#scrap-stats-popup .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrap-stats-popup .modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

#scrap-stats-popup .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scrap-stats-popup .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

#scrap-stats-popup .modal__close {
    background: transparent;
    border: 0;
}

#scrap-stats-popup .modal__header #scrap-stats-popup .modal__close:before {
    content: "\2715";
}

#scrap-stats-popup .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

#scrap-stats-popup .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

#scrap-stats-popup .modal__btn:focus,
#scrap-stats-popup .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#scrap-stats-popup .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}


/**************************\
  Demo Animation Style
\**************************/

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

#scrap-stats-popup .micromodal-slide {
    display: none;
}

#scrap-stats-popup .micromodal-slide.is-open {
    display: block;
}

#scrap-stats-popup .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

#scrap-stats-popup .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

#scrap-stats-popup .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

#scrap-stats-popup .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

#scrap-stats-popup .micromodal-slide .modal__container,
#scrap-stats-popup .micromodal-slide .modal__overlay {
    will-change: transform;
}


/* icon */

#scrap-stats-popup .modal__container {
    overflow: visible;
}

#scrap-stats-popup .icon {
    position: absolute;
    overflow: visible;
    top: -49px;
    left: 0px;
    text-align: center;
    height: 70px;
    width: 100%;
}

#scrap-stats-popup .icon img {
    height: 100%;
    background-color: white;
    border-radius: 31px;
    padding: 10px;
}


/* content */

#scrap-stats-popup .extra {
    display: none;
}

#scrap-stats-popup .value {
    text-align: center;
    margin: 2em 0px;
}

#scrap-stats-popup .value span {
    font-size: 2em;
    padding: 0.5em 1em;
    background-color: #d2b928;
    border-radius: 10px;
}

#scrap-stats-popup .modal__container {
    text-align: center;
}
